
<!-- TOPBAR -->
<div class="style_topbar">
   <div class="style_topbar_search">
    <i class="fa fa-search" aria-hidden="true"></i>
   </div> 
    
    <div class="style_topbar_items">
      <span><i class="fa fa-bell" ></i></span>
      <span><i class="fa fa-user" ></i></span>
      <span><i class="fa fa-bell" ></i></span>
    </div>
</div>

<div class="app_body">

    <!-- SIDEBAR -->
<div class="sidebar">
 <ng-container *ngFor="let menu of menus">
    <div class="sidebar_menu_items">
    <i class="{{menu.icon}}"></i>
     <span class="sidebar_menuname">{{menu.name}}</span>
  </div>
 </ng-container>
</div>

<!-- BODY CONTENT -->
<div class="main_body">

<div class="summarycard">
    <div class="summarybox">
      <span class="sum_number">18</span>
      <span class="sum_name">Event</span>
    </div>
    <div class="summarybox">
        <span class="sum_number">26</span>
        <span class="sum_name">Manager</span>  
    </div>
    <div class="summarybox">
        <span class="sum_number">34</span>
        <span class="sum_name">Product</span>  
    </div>
    <div class="summarybox">
        <span class="sum_number">233</span>
        <span class="sum_name">Court</span>  
    </div>
</div>



<!-- // Card box-->
<div class="cards">
<div class="detailbox">
    <span class="tagline">Feature</span>
    <h2 class="titletrack">Never miss your important meetings</h2>
    <p class="inform">Elemenatary tracks all the events for the day as you scheduled and you will never have to worry.</p>
</div>
<div class="detailbox">
    <span class="tagline">Feature</span>
    <h2 class="titletrack">Never miss your important meetings</h2>
    <p class="inform">Elemenatary tracks all the events for the day as you scheduled and you will never have to worry.</p>
</div>
<div class="detailbox">
    <span class="tagline">Feature</span>
    <h2 class="titletrack">Never miss your important meetings</h2>
    <p class="inform">Elemenatary tracks all the events for the day as you scheduled and you will never have to worry.</p>
</div>
<div class="detailbox">
    <span class="tagline">Feature</span>
    <h2 class="titletrack">Never miss your important meetings</h2>
    <p class="inform">Elemenatary tracks all the events for the day as you scheduled and you will never have to worry.</p>
</div>
<div class="detailbox">
    <span class="tagline">Feature</span>
    <h2 class="titletrack">Never miss your important meetings</h2>
    <p class="inform">Elemenatary tracks all the events for the day as you scheduled and you will never have to worry.</p>
</div>
</div>

<!-- Tabs -->
<div class="tab">
    <button class="active" >London</button>
    <button  >Paris</button>
    <button  >Tokyo</button>
  </div>
</div>